
data_analysis/.idea/data_analysis.iml
data_analysis/.idea/inspectionProfiles/profiles_settings.xml
data_analysis/.idea/misc.xml
data_analysis/.idea/modules.xml
data_analysis/.idea/vcs.xml
data_analysis/03_icon_in_numbers/delegation_data/icx_delegation_20201129.csv
data_analysis/06_wallet_ranking/results/wallet_info_2020_11_30.csv
data_analysis/06_wallet_ranking/results/wallet_info_2020_12_01.csv
data_analysis/06_wallet_ranking/wallet_address_20201125.csv
data_analysis/06_wallet_ranking/wallet_address_20201128.csv
data_analysis/06_wallet_ranking/wallet_from_address_20201203.csv
data_analysis/06_wallet_ranking/wallet_from_address_20201207.csv
data_analysis/06_wallet_ranking/results/wallet_balance_2021_01_22.csv
data_analysis/06_wallet_ranking/results/wallet_balance_2021_02_08.csv
data_analysis/output/vote_status_per_day.csv

data_analysis/08_transaction_data/data/*.csv